<div id="card-container">
  <div class="row">
    <div id="artists" class="card-order" order="3">
      <%= render 'cards/artists' %>
    </div>
    <div id="qa" class="card-order" order="2">
      <%= render 'cards/qa' %>
    </div>
    <div id="exclusive" class="card-order" order="4">
      <%= render 'cards/exclusive' %>
    </div>
    <div id="fashion" class="card-order" order="1">
      <%= render 'cards/fashion' %>
    </div>
  </div>
</div>




<script>
// $('#card-container').append($('#card-container .card-order').sort(function(a,b){
//    return parseInt(a.getAttribute('order'))-parseInt(b.getAttribute('order'))
// }));
</script>