
  <div id='instagram' class='tab-pane active'>
    <i class='fa fa-refresh fa-spin throbber dimmed'></i>
    <!-- Instagram feed populated by JavaScript -->
  </div>





<script>
// $(function() {



//   var instagramFeed = new OnScreen({
//     campaignId: 669,
//     filter: 'instagram',
//     show: function(data) {
//       var newMessages = data.messages, element = null;
//       for(var i = 0; i < newMessages.length; i++) {
//         switch(newMessages[i].message_type){
//           case "Messages::Media":
//             element = $("<img />", { id: newMessages[i].external_id, class: 'instagram-image', src: newMessages[i].media, alt: newMessages[i].sender, data_date: newMessages[i].moderatedAt })
//           break;
//           default:
//             console.error("Unknown message type: %s", newMessages[i].message_type);
//           break;
//         }
//         $(element).hide().prependTo("#instagram").fadeIn();
//       }
//     }
//   });
//   instagramFeed.load();




// });
</script>