<div class="card col s12 m6 l6">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="<%= asset_path 'artists.gif' %>">
	</div>
	<div class="card-content">
		<span class="card-title">Essence Artists <i class="mdi-navigation-more-vert right"></i></span>
		<!--    <p><a href="#">This is a link</a></p> -->
	</div>
	<div class="card-reveal">
		<span class="card-title">Essence Artists <i class="mdi-navigation-close right"></i></span>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="artist">ARTIST</th>
					<th data-field="date">DATE</th>
					<th data-field="time">TIME</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Usher</td>
					<td>06.05.15</td>
					<td>10:30 PM</td>
				</tr>
				<tr>
					<td>Missy Elliot</td>
					<td>06.04.15</td>
					<td>8:30 PM</td>
				</tr>
				<tr>
					<td>Kendrick Lamar</td>
					<td>06.04.15</td>
					<td>9:00 PM</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>  

