

<div class="card col s12 m6 l6">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="<%= asset_path 'vip2.png' %>">
	</div>
	<div class="card-content">
		<span class="card-title activator">VIP Superlounge Pass<i class="mdi-navigation-more-vert right"></i></span>
		<!--    <p><a href="#">This is a link</a></p> -->
	</div>
	<div class="card-reveal">
		<span class="card-title">VIP Superlounge Pass<i class="mdi-navigation-close right"></i></span>
		<p>Verizon customers, get exclusive access to the Verizon Superlounge by signing up below. You will receive a Superlounge VIP Pass to add to either Passbook or Google Wallet.</p>
			
				 <form id="vip-enter" action="/main/enter" method="post"> 
			     <input type="tel" class="input-field col s12" id="mdn" name="mdn" placeholder="Mobile Number">
					 <button class="waves-effect waves-light btn-verizon btn-large col s12">Submit</button>
				</form>

	</div>
</div>  


        