<div class="card">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="<%= asset_path 'exclusive-content.jpg' %>">
	</div>
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">VIP SUPERLOUNGE PASS <i class="mdi-navigation-more-vert right"></i></span>
		<!--    <p><a href="#">This is a link</a></p> -->
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">VIP SUPERLOUNGE PASS <i class="mdi-navigation-close right"></i></span>
		<p>Verizon customers, get exclusive acces to the Verizon Superlounge by singing up below. You will receive a Superlounge VIP Pass to add to either Passbook or Google Wallet.</p>
  <div class="row">
    <%= form_tag cards_form_process_path, :id => "enter-form", :class => "form", :role => "form" do %>
    <div class="col s12">
          <div class="input-field col s12">
            <input type="tel" id="mdn" name="mdn" placeholder="xxx-xxx-xxxx" class="validate">
            <label for="mdn">Mobile Number</label>
          </div>
    <button type="submit" class="btn btn-verizon waves-effect waves-light col s12">GET YOUR PASS</button>
  <% end %>
  </div>

	</div>
</div>  

