<div class="card col s12 m6 l6">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="<%= asset_path 'fashion2.png' %>">
	</div>
	<div class="card-content">
		<span class="card-title activator">Essence Fashion <i class="mdi-navigation-more-vert right"></i></span>
	</div>
	<div class="card-reveal">
		<span class="card-title">Essence Fashion <i class="mdi-navigation-close right"></i></span>
		<%= render 'layouts/slider' %>
	</div>
</div> 


