<div class="card">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="<%= asset_path 'kendrick.gif' %>">
	</div>
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">Q&A LINEUP <i class="mdi-navigation-more-vert right"></i></span>
		<!--    <p><a href="#">This is a link</a></p> -->
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">Q&A LINEUP <i class="mdi-navigation-close right"></i></span>
		<table class="striped">
			<thead>
				<tr>
					<th data-field="id">TALENT</th>
					<th data-field="name">TIME</th>
					<th data-field="price">DAY</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Kendrick Lamar</td>
					<td>10:30 AM</td>
					<td>06.04.15</td>
				</tr>
				<tr>
					<td>Jazmine Sullivan</td>
					<td>2:00 PM</td>
					<td>06.05.15</td>
				</tr>
				<tr>
					<td>Deepak Chopra</td>
					<td>1:00 PM</td>
					<td>06.05.15</td>
				</tr>
			</tbody>
		</table>

	</div>	        
</div>     