body {
  font-family: "VerizonApexBook";
  color: #595A5D;
}

.card .card-title {
  font-size: 18px;
  color: #595A5D;
  font-family: "VerizonApexBook";
  border-radius: 0px;
}

.container {
  width: 97%;
}
.row .col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
}

.btn-verizon, .btn-verizon:hover {
  text-decoration: none;
  color: #FFF;
  background-color: #E4001C;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
}

a {
  color: #E4001C;
}

.btn-floating {
  position: fixed;
  top: 5%;
  right: 5%;
}

#card-container {
  margin-top: 100px;
}

.btn-verizon {
  background: #E6001C;
}


.tab {
	position: absolute;
	z-index: 100;
	left: 10px;
	top: -8px;
}

#fashion, #qa, #exclusive, #artists {
	height: 100%;
  width: 100%;
}
