/*.slider {
	width: 100%;
	height: 400px;
}
*/

.btn-floating {
  position: fixed;
  top: 5%;
  right: 5%;
}

.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 12px;
  background-color: #96989C;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
  -ms-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%;
}

.slider .indicators .indicator-item.active {
  background-color: #E6001C;
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}

#card-container {
  margin-top: 100px;
}

.btn-verizon {
  background: #E6001C;
}


.tab {
	position: absolute;
	z-index: 100;
	left: 10px;
	top: -8px;
}

#fashion {
	width: 100%;
	height: 450px;
	background-color: red;
}

#qanda {
	width: 100%;
	height: 650px;
	background-color: cyan;
}

#promo {
	width: 100%;
	height: 550px;
	background-color: orange;
}


.parallax-container {
   height: 600px;
}

.section.white {
  padding-top: 100px;
  padding-bottom: 200px;
}