<div class="row">
  <form class="col s12">
    <div class="input-field">
      <input id="first_name" type="text" class="validate">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field">
      <input id="last_name" type="text" class="validate">
      <label for="last_name">Last Name</label>
    </div>
    <div class="input-field">
      <input id="mdn" type="tel" class="validate">
      <label for="mdn">Mobile Number</label>
    </div>
    <button class="waves-effect waves-light btn-verizon btn-large col s12">Sign Me Up</button>

  </form>
</div>
